body {
  margin: 0;
}

.main {
  background-color: #212121;
}

.container {
  margin: 2rem 2rem 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation {
  color: #11b1fb;
  text-align: center;
  width: 50%;
}
.presentation h1, .presentation h3 {
  margin: 0;
}
.presentation h1 {
  font-size: 2.25rem;
  margin-bottom: 3rem;
  line-height: 2.4rem;
}
.presentation h1 #monNom {
  font-weight: bold;
  color: #11b1d3;
}
.presentation h3 {
  font-size: 1.6rem;
  font-style: italic;
  margin-bottom: 0.7rem;
  color: #11b1d3;
}
.presentation p {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .presentation {
    width: 100%;
  }

  p {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}