@use '../../styles' as *
.container
  margin: 2rem 2rem 3rem 2rem
  display: flex
  align-items: center
  justify-content: center

.presentation
  color: $mainColor
  text-align: center
  width: 50%
  h1,h3
    margin: 0

  h1
    font-size: 2.25rem
    margin-bottom: 3rem
    line-height: 2.4rem
    #monNom
      font-weight: bold
      color: $secColor
  h3
    font-size: 1.6rem
    font-style: italic
    margin-bottom: 0.7rem
    color: $secColor
  p
    font-size: 1rem

@media (max-width: $breakpoint-tablet)
  .presentation
    width: 100%
  p
    width: 75%
    text-align: center
    margin-left: auto
    margin-right: auto
